<p>
  &copy; {{ COPYRIGHT_NAME }} {{ COPYRIGHT_YEAR }} - Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/">Licencia {{ CC_LICENSE['name'] }} {{ CC_LICENSE['version'] }} Internacional</a>
</p>
{% include "partial/flex.html" %}
<p>
  <a rel="license"
     href="http://creativecommons.org/licenses/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/"
     target="_blank">
    <img alt="Creative Commons License"
         title="Creative Commons License"
         style="border-width:0"
         {% if CC_LICENSE['local_icons'] %}
           src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/cc/{{ CC_LICENSE['slug'] }}.png"
         {% else %}
           src="https://i.creativecommons.org/l/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/80x15.png"
         {% endif %}
         width="80"
         height="15"/>
  </a>
  {% if STATUSCAKE %}
    {% include "partial/statuscake.html" %}
  {% endif %}
</p>
